
<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
        </a>
        
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('programs')">
                <span><i class="fa fa-tasks"></i>&nbsp; {{ 'Programs' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'programs'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/create-program']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                        	<span>{{ 'Create Program' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/program-list']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                        	<span>{{ 'Program List' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('users')">
                <span><i class="fa fa-users"></i>&nbsp; {{ 'Users' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'users'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/admin-rights']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                        	<span>{{ 'Admin Rights User' | translate }}</span>
                        </a>
                    </li>
                     <li>
                        <a [routerLink]="['/user']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                        	<span>{{ 'Create User' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/user-details']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                        	<span>{{ 'User Details' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>

    </ul>
</nav>
