<div [@routerTransition]>
    
<!--importing dataTables bootstrap4 -->
<link rel="style" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

    <app-page-header [heading]="'Program List'" [icon]="'fa-table'"></app-page-header>
    <div class="row">

        
        <div class="col col-lg-12">
            <div class="card mb-12">
                <div class="card-header">
                    <i class="fa fa-table"></i> Program List

                   
                    <div class="dataTables_length" id="dataTable_lenth">
                        <label class="my-2">Show </label>
                        <select name="dataTable_length" aria-controls="data-table" class="form-control form-control-sm" style="width: 5%; display: inline-block">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>

                        entries

                        
                        <div class="col-sm-3" style="display:inline-block; float:right">
                                <div id="dataTable_filter" class="dataTables_filter">
                                    <label>Search
                                        <input type="search" class="form-control form-control-sm" style="display:inline-block; float:right; width:69%">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="programList">
                            <thead>
                                <tr>
                                    <th *ngFor="let header of tableHeader">{{ header }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let program of program">
                                    <td>{{ program.title }}</td>
                                    <td>{{ program.description }}</td>
                                    <td><a href="#">{{ program.owner }}</a></td>
                                    <td>{{ program.startDate }}</td>
                                    <td>{{ program.endDate }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer small text-muted">Updated Today at 3:40 p.m</div>
                </div>
            </div>
        </div>
    </div>

