<div [@routerTransition]>
    
<!--importing dataTables bootstrap4 -->
<link rel="style" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

    <app-page-header [heading]="'Tables'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-lg-12">
            <div class="card mb-12">
                <div class="card-header">
                    <i class="fa fa-table"></i> Program List

                    <!--pagination filter-->
                    <div class="dataTables_length" id="dataTable_lenth">
                        <label class="my-2">Show </label>
                        <select name="dataTable_length" aria-controls="data-table" class="form-control form-control-sm" style="width: 5%; display: inline-block">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>

                        entries

                        <!--search input-->
                        <div class="col-sm-3" style="display:inline-block; float:right">
                                <div id="dataTable_filter" class="dataTables_filter">
                                    <label>Search
                                        <input type="search" class="form-control form-control-sm" style="display:inline-block; float:right; width:69%">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="programList">
                            <thead>
                                <tr>
                                    <th *ngFor="let header of tableHeader">{{ header }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="th-item">Dell IT Academy</th>
                                    <th class="th-item">Program developed for the purpose of hiring new interns</th>
                                    <th class="th-item"><a href="#">Muller, Nelson</a></th>
                                    <th class="th-item">08/01/2017</th>
                                    <th class="th-item">01/31/2018</th>
                                </tr>
                                <tr>
                                    <th class="th-item">U@Dell</th>
                                    <th class="th-item">Talent Aquisition Program</th>
                                    <th class="th-item"><a href="#">Fernandes, Gabriela</a></th>
                                    <th class="th-item">01/01/2017</th>
                                    <th class="th-item">12/31/2017</th>
                                </tr>
                                <tr>
                                    <th class="th-item">Tests Program</th>
                                    <th class="th-item">If you die, you get poor and ... LOSE!!!</th>
                                    <th class="th-item"><a href="#">Callegari, Daniel</a></th>
                                    <th class="th-item">01/01/2017</th>
                                    <th class="th-item">12/31/2017</th>
                                </tr>
                                <tr>
                                    <th class="th-item">DevTeamCoop</th>
                                    <th class="th-item">Softare development program created for undergraduate students!!!</th>
                                    <th class="th-item"><a href="#">Dell, Michael</a></th>
                                    <th class="th-item">01/01/2017</th>
                                    <th class="th-item">12/31/2017</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer small text-muted">Updated Today at 3:40 p.m</div>
                </div>
            </div>
        </div>
    </div>
</div>

