
<!--programs table-->
<div class="card mb-3">
  <div class="card-header">
    <i class="fa-fa table"></i> Programs List
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Owner</th>
            <th>Start Date</th>
            <th>End Date</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>