<div [@routerTransition]>
    <app-page-header [heading]="'Program List'" [icon]="'fa-edit'"></app-page-header>

    <div class="row">
        <div class="container my-5">
            <div class="col-md-12">
                <table class="table table-responsive table-bordered" id="programList">
                    <thead>
                        <th *ngFor="let header of tableHeader">{{ header }}</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let program of program">
                            <td>{{ program.title }}</td>
                            <td>{{ program.description }}</td>
                            <td><a href="#" class="people-link">{{ program.owner }}</a></td>
                            <td>{{ program.startDate }}</td>
                            <td>{{ program.endDate }}</td>
                            <td>
                                <a [routerLink]="['/edit-program']" [routerLinkActive]="['router-link-active']">
                                    <i class="fa fa-pencil pull-left"></i>
                                </a>
                                <ng-template #delete let-c="close" let-d="dismiss">
                                    <div class="modal-header">
                                      <h4 class="modal-title">Delete Program</h4>
                                      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <p>Are you sure you want to <b>delete</b> this Program?</p>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-primary" (click)="c('Close click')">Yes</button>
                                        <button type="button" class="btn btn-danger" (click)="c('Close click')">No</button>
                                    </div>
                                  </ng-template>

                                  <i class="fa fa-trash-o pull-right delete-link" (click)="open(delete)" style="cursor:pointer; color: #f44242"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <a [routerLink]="['/create-program']" [routerLinkActive]="['router-link-active']" class="btn btn-success">New Program</a>
            </div>
        </div>
    </div>
        
</div>
