<div [@routerTransition]>

  <section class="container my-5">
      <div class="card">
          <div class="card-header">
              <h5>People Details</h5>
          </div>
          <div class="card-body">
              <div class="row">
                  <div class="col-md-3">
                      <img src="https://pbs.twimg.com/profile_images/553616659932401664/pbQi_VV3.png" id="profile-pic" alt="profile picture">
                  </div>
                  <div class="col-md-6 my-5">
                      <h4 style="color:#007db8">John Doe</h4>
                      <span style="color: #999">Software Development Analyst</span>
                  </div>
              </div>
              <hr style="margin:5px 0 5px 0;">
              <div class="row">
                  <div class="col-sm-12">
                      <div class="container my-5">
                          <ul class="nav nav-tabs" id="people-tab" role="tablist">
                              <li class="nav-item">
                                  <a class="nav-link active" id="personal-info-tab" data-toggle="tab" href="#personal-info" role="tab" aria-controls="personal-info" aria-selected="true">Personal Info.</a>
                              </li>
                              <li class="nav-item">
                                      <a class="nav-link" id="program-info-tab" data-toggle="tab" href="#program-info" role="tab" aria-controls="program-info" aria-selected="false">Related Programs</a>
                              </li>
                          </ul>
                          <div class="tab-content" id="myTabContent">
                              <div class="tab-pane fade show active" id="personal-info" role="tabpanel" aria-labelledby="personal-info-tab">
                                  <div class="container my-5">
                                      <ul class="container details">
                                          <p>
                                              <li><span><strong>Full Name:</strong></span> John Herman Doe</li>
                                          </p>
                                          <p>
                                              <li><span><strong>Birth Date:</strong></span> 04/07/1988</li>
                                          </p>
                                          <p>
                                              <li><span><strong>Address:</strong></span> 123 Fools Blvd.</li>
                                          </p>
                                          <p>
                                              <li><span><strong>City :</strong></span> Neverland</li>
                                          </p>
                                          <p>
                                              <li><span><strong>State :</strong></span> Any</li>
                                          </p>
                                          <p>
                                              <li><span><strong>Country :</strong></span> USA</li>
                                          </p>
                                      </ul>
                                  </div>
                              </div>
                              <div class="tab-pane fade show" id="program-info"  role="tabpanel" aria-labelledby="program-info-tab">
                                  <div class="my-5 container-fluid">
                                      <table class="table table-responsive">
                                          <thead>
                                              <th>Title</th>
                                              <th>Start Date</th>
                                              <th>End Date</th>
                                              <th>Role</th>
                                              <th>Status</th>
                                          </thead>
                                          <tbody>
                                              <tr>
                                                 <td>Dell IT Academy</td> 
                                                 <td>08/07/2017</td>
                                                 <td>01/31/2018</td>
                                                 <td>Coordinator</td>
                                                 <td>Active</td>
                                              </tr>
                                              <tr>
                                                  <td>U@Dell</td> 
                                                  <td>05/25/2017</td>
                                                  <td>05/26/2017</td>
                                                  <td>Manager</td>
                                                  <td>Inactive</td>
                                              </tr>
                                              <tr>
                                                  <td>Dell Runners</td> 
                                                  <td>06/25/2017</td>
                                                  <td>06/26/2017</td>
                                                  <td>Coordinator</td>
                                                  <td>Inactive</td>
                                              </tr>
                                              <tr>
                                                  <td>Software Innovation Center</td>
                                                  <td>07/01/2018</td>
                                                  <td>07/10/2018</td>
                                                  <td>Manager</td>
                                                  <td>Acitve</td>
                                              </tr>
                                              <tr>
                                                  <td>Run for Your Life</td>
                                                  <td>04/02/2016</td>
                                                  <td>04/26/2016</td>
                                                  <td>Coordinator</td>
                                                  <td>Inactive</td>
                                              </tr>
                                          </tbody>
                                      </table>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

</div>