<div class="container my-5">
    <h1>User Details:</h1>

    <div class="container my-5">
        <ngb-tabset>
            <ngb-tab title="User Info">
                <ng-template ngbTabContent>
                    
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Related Programs">
                <ng-template ngbTabContent>
                    <table class="table my-5">
                        <thead>
                            <th *ngFor="let header of tableHeader">{{ header }}</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let programs of program">
                                <td>{{  programs.title }}</td>
                                <td>{{  programs.startDate }}</td>
                                <td>{{  programs.endDate }}</td>
                                <td>{{  programs.role }}</td>
                                <td>{{  programs.status }}</td>
                            </tr>
                        </tbody>
                    </table>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>

</div>